In [2]:
from google.colab import drive
drive.mount('/content/drive/')
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
from matplotlib.image import imread
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import glob

Mounted at /content/drive/

In [4]:
sample_data = pd.read_csv('/content/drive/MyDrive/DatasetProject1/test_public_answers_task_1.csv')

In [5]:
answer_meta = pd.read_csv('/content/drive/MyDrive/DatasetProject1/answer_metadata_task_1_2.csv')

In [6]:
question_meta = pd.read_csv('/content/drive/MyDrive/DatasetProject1/question_metadata_task_1_2.csv')

In [7]:
student_meta = pd.read_csv('/content/drive/MyDrive/DatasetProject1/student_metadata_task_1_2.csv')

In [8]:
subject_meta = pd.read_csv('/content/drive/MyDrive/DatasetProject1/subject_metadata.csv')

In [3]:
perForTest = pd.read_csv('/content/drive/MyDrive/DatasetProject1/perForTest.csv')

In [12]:
sample_data_answer = sample_data.merge(answer_meta, how='left', on='AnswerId')
sample_data_answer.head()

   QuestionId  UserId  AnswerId  ...  GroupId QuizId  SchemeOfWorkId
0       10856    5518   1127409  ...     2143  13180         40960.0
1       14766   41565  19673056  ...     6812  13902             NaN
2        2829   97267  19426951  ...     7863   4755             NaN
3       26464  100879   4929721  ...     5958  16615          8380.0
4       24436   87722   2927607  ...     4085   3949         28228.0

[5 rows x 9 columns]

In [13]:
sample_data_answer_student = sample_data_answer.merge(student_meta, how='left', on='UserId')
sample_data_answer_student.head()

   QuestionId  UserId  AnswerId  ...  Gender              DateOfBirth  PremiumPupil
0       10856    5518   1127409  ...       2  2002-09-01 00:00:00.000           NaN
1       14766   41565  19673056  ...       1                      NaN           NaN
2        2829   97267  19426951  ...       2  2005-07-01 00:00:00.000           NaN
3       26464  100879   4929721  ...       0                      NaN           NaN
4       24436   87722   2927607  ...       1  2003-11-01 00:00:00.000           0.0

[5 rows x 12 columns]

In [14]:
from ast import literal_eval
question = []
#for index, row in df.iterrows():
for row in question_meta.itertuples(index=False):
  x = list (row)
  lis = list(literal_eval(x[1]))
  x.append (lis[-1] ) 
  a = x + lis
  question.append(a)

question = pd.DataFrame(question)
question.head()

      0                                    1    2   3   4   ...  12  13  14  15  16
0  13090  [3, 32, 71, 77, 141, 185, 186, 214]  214   3  32  ... NaN NaN NaN NaN NaN
1   1855                 [3, 71, 75, 86, 178]  178   3  71  ... NaN NaN NaN NaN NaN
2  10423                     [3, 32, 38, 239]  239   3  32  ... NaN NaN NaN NaN NaN
3   2290                     [3, 32, 33, 144]  144   3  32  ... NaN NaN NaN NaN NaN
4  12785                     [3, 32, 33, 144]  144   3  32  ... NaN NaN NaN NaN NaN

[5 rows x 17 columns]

In [15]:
columns =['QuestionId','SubjectList','SubjectId','SubjectId_1','SubjectId_2','SubjectId_3','SubjectId_4','SubjectId_5','SubjectId_6','SubjectId_7','SubjectId_8','SubjectId_9','SubjectId_10','SubjectId_11','SubjectId_12','SubjectId_13','SubjectId_14']
question.columns = columns
question.head()

   QuestionId                          SubjectList  ...  SubjectId_13  SubjectId_14
0       13090  [3, 32, 71, 77, 141, 185, 186, 214]  ...           NaN           NaN
1        1855                 [3, 71, 75, 86, 178]  ...           NaN           NaN
2       10423                     [3, 32, 38, 239]  ...           NaN           NaN
3        2290                     [3, 32, 33, 144]  ...           NaN           NaN
4       12785                     [3, 32, 33, 144]  ...           NaN           NaN

[5 rows x 17 columns]

In [16]:
sample_data_answer_student_question = sample_data_answer_student.merge(question, how='left', on='QuestionId')
sample_data_answer_student_question.head()

   QuestionId  UserId  AnswerId  ...  SubjectId_12 SubjectId_13  SubjectId_14
0       10856    5518   1127409  ...           NaN          NaN           NaN
1       14766   41565  19673056  ...           NaN          NaN           NaN
2        2829   97267  19426951  ...           NaN          NaN           NaN
3       26464  100879   4929721  ...           NaN          NaN           NaN
4       24436   87722   2927607  ...           NaN          NaN           NaN

[5 rows x 28 columns]

In [17]:
sample_data_answer_student_question_subject = sample_data_answer_student_question.merge(subject_meta, how='left', on='SubjectId')
sample_data_answer_student_question_subject.head()

   QuestionId  UserId  ...  ParentId  Level
0       10856    5518  ...      36.0      3
1       14766   41565  ...      38.0      3
2        2829   97267  ...     101.0      2
3       26464  100879  ...      32.0      2
4       24436   87722  ...     101.0      2

[5 rows x 31 columns]

In [18]:
sample_data_answer_student_question_subject.to_csv('/content/drive/MyDrive/DatasetProject1/Test_Project1.csv')

In [4]:
data = pd.read_csv('/content/drive/MyDrive/DatasetProject1/Test_Project1.csv')
data.head()

   Unnamed: 0  QuestionId  ...  ParentId  Level
0           0       10856  ...      36.0      3
1           1       14766  ...      38.0      3
2           2        2829  ...     101.0      2
3           3       26464  ...      32.0      2
4           4       24436  ...     101.0      2

[5 rows x 32 columns]

In [5]:
data = data.drop(['Unnamed: 0','Name','SubjectList','SchemeOfWorkId','Confidence','SubjectId_14','SubjectId_13','SubjectId_12','SubjectId_11','SubjectId_10','SubjectId_9','SubjectId_8','SubjectId_7','SubjectId_6','SubjectId_5'],axis=1)

In [6]:
data['Gender']=data['Gender'].replace(3,0)

In [22]:
list(data['Gender'].unique())

[2, 1, 0]

In [7]:
data['DateOfBirth'] =pd.to_datetime(data['DateOfBirth'], errors = 'coerce')
data['DateAnswered'] =pd.to_datetime(data['DateAnswered'])

In [8]:
data['Age'] = (data['DateAnswered'] - data['DateOfBirth']) / np.timedelta64(1,'Y')

In [9]:
data.loc[data[data['Age'] < 6].index,'Age'] = 6
data.loc[data[data['Age'] > 45].index,'Age'] = 45
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [10]:
data['Age'] = data['Age'].astype(int)

In [11]:
data = data.fillna({'ParentId':0})
data['ParentId'] = data['ParentId'].astype(int)
list(data['ParentId'].unique())

[36,
 38,
 101,
 32,
 71,
 37,
 49,
 39,
 97,
 144,
 81,
 62,
 331,
 46,
 178,
 54,
 44,
 42,
 141,
 74,
 40,
 61,
 338,
 99,
 113,
 272,
 100,
 154,
 77,
 348,
 174,
 342,
 98,
 45,
 176,
 59,
 255,
 0,
 79,
 68,
 55,
 48,
 451,
 271,
 153,
 146,
 152,
 156,
 91,
 158,
 83,
 126,
 137,
 3,
 128,
 139,
 35,
 151,
 130,
 317,
 142,
 119,
 315,
 140,
 313,
 298,
 129,
 411,
 278]

In [12]:
data=data.merge(perForTest, on='UserId', how='left')
data.head()

   QuestionId  UserId  AnswerId  ...  QuizId_y ExamPreparation  Student performance
0       10856    5518   1127409  ...      24.0        0.714286              0.60355
1       10856    5518   1127409  ...     635.0        0.714286              0.60355
2       10856    5518   1127409  ...    1913.0        0.000000              0.60355
3       10856    5518   1127409  ...    2330.0        0.714286              0.60355
4       10856    5518   1127409  ...    2517.0        0.888889              0.60355

[5 rows x 22 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64314355 entries, 0 to 64314354
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   QuestionId           int64
 1   UserId               int64
 2   AnswerId             int64
 3   IsCorrect            int64
 4   DateAnswered         datetime64[ns]
 5   GroupId              int64
 6   QuizId_x             int64
 7   Gender               int64
 8   DateOfBirth          datetime64[ns]
 9   PremiumPupil         float64
 10  SubjectId            int64
 11  SubjectId_1          int64
 12  SubjectId_2          int64
 13  SubjectId_3          float64
 14  SubjectId_4          float64
 15  ParentId             int64
 16  Level                int64
 17  Age                  int64
 18  Unnamed: 0           int64
 19  QuizId_y             float64
 20  ExamPreparation      float64
 21  Student performance  float64
dtypes: datetime64[ns](2), float64(6), int64(14)
memory usage: 11.0 GB

In [13]:
data = data.drop(['Unnamed: 0','DateAnswered','DateOfBirth','QuizId_x','QuizId_y','UserId'],axis=1)

In [14]:
data.isnull().sum()

QuestionId                    0
AnswerId                      0
IsCorrect                     0
GroupId                       0
Gender                        0
PremiumPupil           34762789
SubjectId                     0
SubjectId_1                   0
SubjectId_2                   0
SubjectId_3                6620
SubjectId_4               13161
ParentId                      0
Level                         0
Age                           0
ExamPreparation               0
Student performance           0
dtype: int64

In [15]:
data = data.fillna({'PremiumPupil':0})
data['PremiumPupil']=data['PremiumPupil'].replace(1,0)
data['PremiumPupil']=data['PremiumPupil'].replace(2,1)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64314355 entries, 0 to 64314354
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   QuestionId           int64
 1   AnswerId             int64
 2   IsCorrect            int64
 3   GroupId              int64
 4   Gender               int64
 5   PremiumPupil         float64
 6   SubjectId            int64
 7   SubjectId_1          int64
 8   SubjectId_2          int64
 9   SubjectId_3          float64
 10  SubjectId_4          float64
 11  ParentId             int64
 12  Level                int64
 13  Age                  int64
 14  ExamPreparation      float64
 15  Student performance  float64
dtypes: float64(5), int64(11)
memory usage: 8.1 GB

In [17]:
dataNew = data.sample(n=7000000, random_state=1)

In [18]:
dataNew.to_csv('/content/drive/MyDrive/DatasetProject1/Test_Project1.csv')

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DatasetProject1/Test_Project1.csv')